<main>
  <header class="top-tool-bar">
    <div>
      <h3>{{title}}</h3>
    </div>
    <div>
      <app-game-status-menu [elements]="store" (sendedValue)="v($event)">
        <mat-icon svgIcon="filter" style="color: white;" />
      </app-game-status-menu>
    </div>
  </header>

  <router-outlet />
</main>

<footer>
  <ul>
    <li *ngFor="let option of footerOptions">
      <a routerLink="{{option.path}}">
        <i-lucide [img]="option.icon"></i-lucide>
        {{option.field}}
      </a>
    </li>
  </ul>
</footer>
